// Your variable overrides
$blue: #024089;
$yellow: #f2ab47;
$cyan: #F2F8FF;

$blue_invert: #0062D5;
$font-family-base: 'Poppins', sans-serif;

$table-cell-padding-y:        .95rem;
$enable-negative-margins: true;

$list-group-bg: transparent;